﻿@model stock123.Models.asiento_contable

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Asientos Contables</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Descripción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            <label>Cuenta Contable</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuenta_contable)
        </dd>

        <dt>
            <label>Tipo de Movimiento</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_movimiento)
        </dd>

        <dt>
            <label>Fecha del Asiento</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_asiento)
        </dd>

        <dt>
            <label>Monto del Asiento</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_asiento)
        </dd>

        <dt>
            <label>Estado</label>
        </dt>

        <dd>
            @(Model.estado == true ? "Activo" : "Inactivo")
        </dd>

        <dt>
            <label>Tipo de Inventario</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_inventario1.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver atras", "Index")
</p>
