﻿@model IEnumerable<stock123.Models.asiento_contable>

@{
    ViewBag.Title = "Asientos Contables";
}

<h2>Asientos Contables</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Descripción</label>
        </th>
        <th>
            <label>Cuenta Contable</label>
        </th>
        <th>
            <label>Tipo de Movimiento</label>
        </th>
        <th>
            <label>Fecha de Asiento</label>
        </th>
        <th>
            <label>Monto de Asiento</label>
        </th>
        <th>
            <label>Estado</label>
        </th>
        <th>
            <label>Tipo de Inventario</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuenta_contable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_movimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_asiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto_asiento)
        </td>
        <td>
            @(item.estado == true ? "Activo" : "Inactivo")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_inventario1.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
