﻿@model stock123.Models.tipo_inventario

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalle</h2>

<div>
    <h4>Tipo de Inventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Descripción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            <label>Cuenta Contable</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuenta_contable)
        </dd>

        <dt>
            <label>Estado</label>
        </dt>

        <dd>
            @(Model.estado == true ? "Activo" : "Inactivo")
        </dd>

        <dt>
            <label>Almacen de Origen</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.almacen.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver Atras", "Index")
</p>
