﻿@model IEnumerable<stock123.Models.tipo_inventario>

@{
    ViewBag.Title = "Tipos de Inventario";
}

<h2>Tipos de Inventario</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Descripción</label>
        </th>
        <th>
            <label>Cuenta Contable</label>
        </th>
        <th>
            <label>Estado</label>
        </th>
        <th>
            <label>Almacen</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuenta_contable)
        </td>
        <td>
            @(item.estado == true ? "Activo" : "Inactivo")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.almacen.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
