﻿@model stock123.Models.articulo

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Descripción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            <label>Existencia</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.existencia)
        </dd>

        <dt>
            <label>Costo por Unidad</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo_unitario)
        </dd>

        <dt>
            <label>Estado</label>
        </dt>

        <dd>
            @(Model.estado == true ? "Activo" : "Inactivo")
        </dd>

        <dt>
            <label>Tipo de Inventario</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_inventario1.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_articulo }) |
    @Html.ActionLink("Volver atras", "Index")
</p>
