﻿@model IEnumerable<stock123.Models.articulo>

@{
    ViewBag.Title = "Articulos";
}

<h2>Articulos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Descripción</label>
        </th>
        <th>
            <label>Existencia</label>
        </th>
        <th>
            <label>Costo Por Unidad</label>
        </th>
        <th>
            <label>Estado</label>
        </th>
        <th>
            <label>Tipo de Inventario</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.existencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo_unitario)
        </td>
        <td>
            @(item.estado == true ? "Activo" : "Inactivo")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_inventario1.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_articulo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_articulo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_articulo })
        </td>
    </tr>
}

</table>
