﻿@model stock123.Models.almacen

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalles</h2>

<div>
    <h3>Almacen</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Descripción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            <label>Estado</label>
        </dt>

        <dd>
            @(Model.estado == true ? "Activo" : "Inactivo")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_almacen }) |
    @Html.ActionLink("Volver atras", "Index")
</p>
