﻿@model IEnumerable<stock123.Models.almacen>

@{
    ViewBag.Title = "Almacenes";
}

<h2>Almacenes</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Descripcion</label>
        </th>
        <th>
            <label>Estado</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @(item.estado == true ? "Activo" : "Inactivo")
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_almacen }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_almacen }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_almacen })
        </td>
    </tr>
}

</table>
