﻿@model stock123.Models.transaccione

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Transaccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Tipo de Transacción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_transaccion)
        </dd>

        <dt>
            <label>Fecha</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            <label>Cantidad</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            <label>Monto</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            <label>Articulo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articulo1.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_transaccion }) |
    @Html.ActionLink("Volver atras", "Index")
</p>
