﻿@model IEnumerable<stock123.Models.transaccione>

@{
    ViewBag.Title = "Transacciones";
}

<h2>Transacciones</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Descripción</label>
        </th>
        <th>
            <label>Fecha</label>
        </th>
        <th>
            <label>Cantidad</label>
        </th>
        <th>
            <label>Monto</label>
        </th>
        <th>
            <label>Articulo</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_transaccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.articulo1.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_transaccion }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.id_transaccion }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_transaccion })
        </td>
    </tr>
}
</table>
